altgraph==0.16.1
asgiref==3.2.3
astroid==2.3.3
bottle==0.12.16
bottle-websocket==0.2.9
certifi==2019.11.28
cffi==1.12.2
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
Django==3.1.9
django-crispy-forms==1.8.1
django-matplotlib==0.1
django-pandas==0.6.1
Eel==0.10.0
future==0.17.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==20.0.4
idna==2.8
inflection==0.3.1
isort==4.3.21
Jinja2==2.10.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
macholib==1.11
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
more-itertools==8.0.2
mpld3==0.3.1.dev1
numpy==1.18.0
pandas==0.25.3
pefile==2018.8.8
Pillow==7.0.0
pipenv==2018.11.26
pycparser==2.19
PyInstaller==3.4
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
Quandl==3.5.0
requests==2.22.0
scipy==1.4.1
seaborn==0.9.0
six==1.13.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.7
virtualenv==16.7.4
virtualenv-clone==0.5.3
virtualenvwrapper-win==1.2.5
whichcraft==0.5.2
wrapt==1.11.2